html,
body,
#root {
  font-family: 'Poppins', sans-serif;
  background: #0a1f44;
  color: #ffffff;
  height: 100%;
  margin: 0;
}

.main-container {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(211, 211, 211);
  opacity: 1; /* Firefox */
}

.widget-container {
  padding: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .widget-container {
    width: 40%;
  }
}

@media only screen and (max-width: 767px) {
  .widget-container {
    width: 60%;
  }
}
@media only screen and (max-width: 499px) {
  .widget-container {
    width: 80%;
  }
}

.search {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  outline: none;
  height: 2.5rem;
  width: 90%;
  border-radius: 2rem;
  border: none;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  margin: 1rem 0 1rem 0;
  padding: 0.5rem 0 0.4rem 0;
}

.search:hover {
  background: rgba(0, 0, 0, 0.75);
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  padding: 1rem 0 1rem 0;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.city:hover {
  transform: scale(1.03);
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
}

.city sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2em;
  text-transform: uppercase;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  background: #ff8c00;
}

.city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-width: 100% relative;
  align-items: center;
  text-align: center;
}

.bottom-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bottom-column {
  text-align: center;
  width: 50%;
}
